<div class="card-container" style="display: flex; gap: 1rem; flex-wrap: wrap">
  <p-card
    header="Total Buckets"
    class="my-10 shadow-lg hover:scale-105 hover:cursor-pointer"
  >
    <p>{{ products.length }}</p>
  </p-card>

  <p-card
    header="Total Fruits"
    class="my-10 shadow-lg hover:scale-105 hover:cursor-pointer"
  >
    <p>{{ totalFruits }}</p>
  </p-card>

  <p-card
    header="Total Vegetables"
    class="my-10 shadow-lg hover:scale-105 hover:cursor-pointer"
  >
    <p>{{ totalVegetables }}</p>
  </p-card>

  <p-card
    header="Total Drinks"
    class="my-10 shadow-lg hover:scale-105 hover:cursor-pointer"
  >
    <p>{{ totalDrinks }}</p>
  </p-card>
</div>
