<div class="card-container" style="display: flex; gap: 1rem; flex-wrap: wrap">
  <p-card
    header="Total Buckets"
    class="my-10 shadow-lg hover:scale-105 hover:cursor-pointer"
  >
    <p class="text-green-600">{{ products.length }}</p>
  </p-card>

  <p-card
    header="Total Fruits"
    class="my-10 shadow-lg hover:scale-105 hover:cursor-pointer"
  >
    <p class="text-amber-400">{{ totalFruits }}</p>
  </p-card>

  <p-card
    header="Total Vegetables"
    class="my-10 shadow-lg hover:scale-105 hover:cursor-pointer"
  >
    <p class="text-red-400">{{ totalVegetables }}</p>
  </p-card>

  <p-card
    header="Total Drinks"
    class="my-10 shadow-lg hover:scale-105 hover:cursor-pointer"
  >
    <p class="text-orange-400">{{ totalDrinks }}</p>
  </p-card>
</div>
