::ng-deep table {
  margin-left: auto;
  margin-right: auto;
}

.tableContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: stretch;
}

.input-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.input-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.input-container i.pi-times {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  cursor: pointer;
}

.input-container i.pi-times:hover {
  font-weight: 900;
}

input {
  border: 3px solid black;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input::placeholder {
  font-size: 1rem;
}
