<footer class="tableContainer">
  <div class="flex justify-between w-full items-center">
    <p-inputGroup class="w-full md:w-96">
      <input
        pInputText
        type="text"
        [(ngModel)]="searchTerm"
        (input)="handleInputChange($event)"
        placeholder="Search ID, Fruits, Vegetable, Drinks..."
        class="w-full h-14 leading-10 text-2xl pl-6"
      />
    </p-inputGroup>

    <p-button
      label="Add"
      (click)="showInputGroup = true"
      styleClass="px-10 py-2
    font-mono text-2xl"
    />
  </div>

  <div *ngIf="showInputGroup" class="input-overlay">
    <div class="input-container min-h-96">
      <i
        class="pi pi-times"
        style="font-size: 1.5rem"
        (click)="cancelEdit()"
      ></i>

      <p-inputGroup>
        <input
          pInputText
          [(ngModel)]="newItem.fruits"
          placeholder="Enter Fruits"
          class="p-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </p-inputGroup>

      <p-inputGroup>
        <input
          pInputText
          [(ngModel)]="newItem.vegetable"
          placeholder="Enter Vegetable"
          class="p-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </p-inputGroup>

      <p-inputGroup>
        <input
          pInputText
          [(ngModel)]="newItem.drinks"
          placeholder="Enter Drinks"
          class="p-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </p-inputGroup>

      <p-button
        [label]="isEditing ? 'Update' : 'Add'"
        (click)="AddItem()"
        styleClass="w-[80%]"
      />
    </div>
  </div>
  <p-toast />
  <p-table
    [value]="filteredProducts"
    [tableStyle]="{ 'min-width': '50rem' }"
    class="table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Fruits</th>
        <th>Vegetable</th>
        <th>Drinks</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr class="hover:bg-slate-200 hover:cursor-pointer">
        <td>{{ product.id }}</td>
        <td>{{ product.fruits }}</td>
        <td>{{ product.vegetable }}</td>
        <td>{{ product.drinks }}</td>
        <td>
          <p-button
            label="Edit"
            severity="warning"
            (click)="handleEdit(product, product.id)"
          />
        </td>
        <td>
          <p-button
            label="Delete"
            severity="danger"
            (click)="handleDelete(product.id)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</footer>
