<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white px-8 py-12 rounded-xl shadow-lg w-full max-w-sm">
    <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <div class="mb-4">
        <label class="block text-gray-600 mb-1 text-xl">Username</label>
        <div class="relative">
          <i
            class="pi pi-user absolute top-1/2 left-3 -translate-y-1/2 text-gray-400"
          ></i>
          <input
            type="text"
            formControlName="username"
            class="pl-10 pr-4 py-4 text-lg w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:placeholder-gray-400"
            placeholder="Enter your username"
          />
        </div>
      </div>

      <!-- Password -->
      <div class="mb-6">
        <label class="block text-gray-600 mb-1 text-xl">Password</label>
        <div class="relative">
          <i
            class="pi pi-lock absolute top-1/2 left-3 -translate-y-1/2 text-gray-400"
          ></i>
          <input
            type="password"
            formControlName="password"
            class="pl-10 pr-4 py-4 text-lg w-full focus:placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Enter your password"
          />
        </div>
      </div>

      <!-- Button -->
      <button
        type="submit"
        class="w-full bg-blue-600 hover:bg-blue-500 text-white py-3 text-xl rounded-lg transition duration-200 font-bold border-none cursor-pointer"
      >
        Log in
      </button>
    </form>
  </div>
</div>
