<div>
  <p-sidebar [(visible)]="sidebarVisible">
    <div class="sidebar">
      <i class="pi pi-home" style="font-size: 2rem"></i>
      <i class="pi pi-home" style="font-size: 2rem"></i>
      <i class="pi pi-home" style="font-size: 2rem"></i>
      <i class="pi pi-home" style="font-size: 2rem"></i>
      <i class="pi pi-home" style="font-size: 2rem"></i>
      <i class="pi pi-home" style="font-size: 2rem"></i>
      <p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" />
    </div>
  </p-sidebar>
  <p-button (onClick)="sidebarVisible = true" icon="pi pi-bars" />
</div>
