@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 20rem auto;
}

.main {
  grid-column-start: 2;
}
