<div
  class="custom-sidebar-container"
  [ngClass]="sidebarVisiblewithName ? 'expanded' : 'collapsed'"
>
  <div class="sidebar">
    <!-- Icons -->
    <div class="icon-group">
      <div class="iconContainer ml-4">
        <i class="pi pi-home"></i>
        <p
          class="icon-name"
          [ngClass]="{ 'show-icon': sidebarVisiblewithName }"
        >
          {{ "SIDEBAR.HOME" | translate }}
        </p>
      </div>

      <div class="iconContainer ml-4" (click)="emitLanguageChange('en')">
        <i class="pi pi-language"></i>
        <p
          class="icon-name"
          [ngClass]="{ 'show-icon': sidebarVisiblewithName }"
        >
          {{ "SIDEBAR.ENGLISH" | translate }}
        </p>
      </div>

      <div class="iconContainer ml-4" (click)="emitLanguageChange('hi')">
        <i class="pi pi-language"></i>
        <p
          class="icon-name"
          [ngClass]="{ 'show-icon': sidebarVisiblewithName }"
        >
          {{ "SIDEBAR.HINDI" | translate }}
        </p>
      </div>

      <div class="iconContainer ml-4">
        <i class="pi pi-briefcase"></i>
        <p
          class="icon-name"
          [ngClass]="{ 'show-icon': sidebarVisiblewithName }"
        >
          {{ "SIDEBAR.BRIEFCASE" | translate }}
        </p>
      </div>

      <div class="iconContainer ml-4">
        <i class="pi pi-mobile"></i>
        <p
          class="icon-name"
          [ngClass]="{ 'show-icon': sidebarVisiblewithName }"
        >
          {{ "SIDEBAR.MOBILE" | translate }}
        </p>
      </div>

      <div class="iconContainer ml-4">
        <i class="pi pi-cog"></i>
        <p
          class="icon-name"
          [ngClass]="{ 'show-icon': sidebarVisiblewithName }"
        >
          {{ "SIDEBAR.SETTINGS" | translate }}
        </p>
      </div>

      <div class="iconContainer ml-4 cursor-pointer" (click)="onLogout()">
        <i class="pi pi-sign-out"></i>
        <p
          class="icon-name"
          [ngClass]="{ 'show-icon': sidebarVisiblewithName }"
        >
          {{ "SIDEBAR.LOGOUT" | translate }}
        </p>
      </div>
    </div>

    <!-- Toggle button -->
    <div class="sidebar-toggle-button">
      <p-button
        (onClick)="sidebarFunction()"
        class="fixed left-9 bottom-10 custom-icon-button"
        [icon]="
          sidebarVisiblewithName ? 'pi pi-arrow-left' : 'pi pi-arrow-right'
        "
      ></p-button>
    </div>
  </div>
</div>
