::ng-deep .p-sidebar-left {
  transition: width 0.3s ease;
}

::ng-deep .p-sidebar-left.expanded {
  width: 14rem !important;
}

::ng-deep .p-sidebar-left.collapsed {
  width: 12rem !important;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.icon {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.icon-name {
  display: none;
  margin-left: 0.5rem;
  transition: all 0.3s ease;
}

.show-icon {
  display: inline-block;
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  min-width: 13rem;
  align-items: center;
}
